.ArtistDetails {
  color: #ffffff;
}

.ArtistContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ArtistImageContainer {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 20px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #323232;
}

.ArtistImageBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ede2e2;
  opacity: 0.8;
  z-index: -1;
}

.ArtistImage1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0px;
}

.ArtistName1 {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}

.TopTracksTitle {
  padding-left: 40px;
}

.TrackList {
  list-style-type: none;
  padding: 10px;
}

.TrackItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
}

.TrackNumber {
  width: 30px;
  margin-right: 10px;
  font-weight: bold;
}

.AlbumImage {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.TrackName {
  flex: 1;
  font-size: 16px;
}
