.App {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.Header {
  background-color: #000000;
  padding: 30px;
  display: flex;
  justify-content: right;
}

.Search {
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 100%;
  background-color: #1f1e1e;
  border-radius: 50px;
  padding: 10 0px;
  border: 1px solid #646464;
}

.SearchIcon {
  width: 20px;
  height: 20px;
  padding: 15px;
}

.SearchInput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-size: 16px;
}

.SearchText {
  color: rgb(70, 70, 70);
  font-size: 16px;
  white-space: nowrap;
}

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
  padding: 16px;
}

.Card {
  display: flex;
  height: 280px;
  flex-direction: column;
  background-color: #212121;
  border-radius: 8px;
  padding: inherit;
  justify-content: center;
  align-items: center;
}

.ImageContainer {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.ArtistImage {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.ArtistName {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  line-height: 1.2;
}

.ArtistName.Clicked {
  color: #ffffff;
}

.Card .ArtistName{
  height: 40px;
  margin: 20px;
}

.ArtistTitle {
  font-size: 14px;
  color: #888888;
  text-decoration: none;
  text-align: center;
  margin: 10px;
}

.Title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 40px;
  text-decoration: none;
  white-space: nowrap;
}

a {
  text-decoration: none;
}